In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl (14.5 MB)
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB 320.0 kB/s eta 0:00:46
   ---------------------------------------- 0.0/14.5 MB 320.0 kB/s eta 0:00:46
   ---------------------------------------- 0.0/14.5 MB 279.3 kB/s eta 0:00:52
   ---------------------------------------- 0.1/14.5 MB 326.1 kB/s eta 0:00:45
   ---------------------------------------- 0.1/14.5 MB 435.7 kB/s eta 0:00:33
    --------------------------------------- 0.2/14.5 MB 692.9 kB/s eta 0:00:21
    --------------------------------------- 0.2/14.5 MB 724.0 kB/s eta 0:00:20
    --------------------------------------- 0.3/14.5 MB 796.4 kB/s eta 0:00:18
    --------------------------------------- 0.3/14.5 MB 796.4 kB/s eta 0:00:18
    --------------------------------------- 0.3/14.5 MB 746.0 kB/s eta 0:00:19
   - -------------------------------------- 0.4/14.5 MB 781.2 kB/s eta 0:00:19
   - -------------------------------------- 0.5/14.5 MB 923.9 kB/s eta 0:00:16
   - -------------------------------------- 0.6/14.5 MB 923.3 kB/s eta 0:00:16
   - -------------------------------------- 0.7/14.5 MB 1.0 MB/s eta 0:00:14
   - -------------------------------------- 0.7/14.5 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 0.8/14.5 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 0.9/14.5 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/14.5 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/14.5 MB 1.2 MB/s eta 0:00:12
   --- ------------------------------------ 1.1/14.5 MB 1.2 MB/s eta 0:00:12
   --- ------------------------------------ 1.3/14.5 MB 1.3 MB/s eta 0:00:11
   --- ------------------------------------ 1.3/14.5 MB 1.3 MB/s eta 0:00:11
   --- ------------------------------------ 1.3/14.5 MB 1.2 MB/s eta 0:00:11
   --- ------------------------------------ 1.4/14.5 MB 1.2 MB/s eta 0:00:11
   --- ------------------------------------ 1.4/14.5 MB 1.2 MB/s eta 0:00:11
   ---- ----------------------------------- 1.5/14.5 MB 1.2 MB/s eta 0:00:11
   ---- ----------------------------------- 1.6/14.5 MB 1.3 MB/s eta 0:00:11
   ---- ----------------------------------- 1.8/14.5 MB 1.3 MB/s eta 0:00:10
   ---- ----------------------------------- 1.8/14.5 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 1.8/14.5 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 1.9/14.5 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 2.0/14.5 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 2.0/14.5 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 2.0/14.5 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 2.1/14.5 MB 1.3 MB/s eta 0:00:10
   ------ --------------------------------- 2.2/14.5 MB 1.3 MB/s eta 0:00:10
   ------ --------------------------------- 2.4/14.5 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.5/14.5 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.7/14.5 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.8/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.8/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.8/14.5 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.8/14.5 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.8/14.5 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/14.5 MB 1.3 MB/s eta 0:00:09
   -------- ------------------------------- 3.2/14.5 MB 1.4 MB/s eta 0:00:08
   --------- ------------------------------ 3.3/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.4/14.5 MB 1.4 MB/s eta 0:00:08
   --------- ------------------------------ 3.5/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.6/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.6/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.7/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.7/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.8/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.9/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.0/14.5 MB 1.5 MB/s eta 0:00:08
   ----------- ---------------------------- 4.1/14.5 MB 1.5 MB/s eta 0:00:08
   ----------- ---------------------------- 4.2/14.5 MB 1.5 MB/s eta 0:00:07
   ----------- ---------------------------- 4.3/14.5 MB 1.5 MB/s eta 0:00:07
   ----------- ---------------------------- 4.3/14.5 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.4/14.5 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.4/14.5 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.4/14.5 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.5/14.5 MB 1.4 MB/s eta 0:00:07
   ------------ --------------------------- 4.5/14.5 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.5/14.5 MB 1.4 MB/s eta 0:00:07
   ------------ --------------------------- 4.6/14.5 MB 1.4 MB/s eta 0:00:07
   ------------ --------------------------- 4.6/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.7/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.7/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.8/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.8/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.9/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 5.0/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 5.0/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.1/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.1/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.2/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.2/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.3/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.3/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.4/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.4/14.5 MB 1.3 MB/s eta 0:00:07
   -------------- ------------------------- 5.4/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.5/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.5/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.5/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.5/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.6/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.6/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.7/14.5 MB 1.3 MB/s eta 0:00:07
   --------------- ------------------------ 5.7/14.5 MB 1.3 MB/s eta 0:00:07
   ---------------- ----------------------- 5.8/14.5 MB 1.3 MB/s eta 0:00:07
   ---------------- ----------------------- 5.9/14.5 MB 1.3 MB/s eta 0:00:07
   ---------------- ----------------------- 6.1/14.5 MB 1.3 MB/s eta 0:00:07
   ----------------- ---------------------- 6.2/14.5 MB 1.3 MB/s eta 0:00:07
   ----------------- ---------------------- 6.3/14.5 MB 1.3 MB/s eta 0:00:07
   ----------------- ---------------------- 6.4/14.5 MB 1.3 MB/s eta 0:00:06
   ------------------ --------------------- 6.5/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.5 MB 1.3 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.5 MB 1.3 MB/s eta 0:00:06
   ------------------ --------------------- 6.7/14.5 MB 1.3 MB/s eta 0:00:06
   ------------------ --------------------- 6.8/14.5 MB 1.3 MB/s eta 0:00:06
   ------------------- -------------------- 6.9/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.0/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.2/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.2/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.2/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.4/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.4/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.5/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.5/14.5 MB 1.4 MB/s eta 0:00:06
   --------------------- ------------------ 7.7/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.9/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.9/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.0/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.1/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.2/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.3/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.3/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.3/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.4/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.4/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.5/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.6/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.7/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.7/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.7/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.8/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.9/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------ --------------- 8.9/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------ --------------- 9.0/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------ --------------- 9.0/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------ --------------- 9.0/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.2/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.4/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.5/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.6/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.7/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.9/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.0/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.0/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.1/14.5 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 10.3/14.5 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 10.3/14.5 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 10.4/14.5 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 10.5/14.5 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 10.5/14.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 10.5/14.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 10.6/14.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 10.7/14.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 10.9/14.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 11.0/14.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 11.2/14.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.3/14.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 11.6/14.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 11.7/14.5 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 11.8/14.5 MB 1.5 MB/s eta 0:00:02
   --------------------------------- ------ 12.0/14.5 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 12.1/14.5 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 12.3/14.5 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 12.6/14.5 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 12.7/14.5 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 12.9/14.5 MB 1.6 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.5 MB 1.6 MB/s eta 0:00:01
   ------------------------------------ --- 13.2/14.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 13.3/14.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.7/14.5 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.5 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 14.5/14.5 MB 1.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [27]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost", user="root", passwd="aditya",use_pure=True)
    query = "SHOW DATABASES"
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('org',), ('performance_schema',), ('schooldb',), ('smartcontact',), ('sys',)]

In [40]:
import mysql.connector as connection

In [46]:
conn = connection.connect(host="localhost", user="root", passwd="aditya",use_pure=True)

In [47]:
cur = conn.cursor()

In [48]:
cur.execute("show databases")

In [49]:
res = cur.fetchall()

In [50]:
res

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('schooldb',),
 ('smartcontact',),
 ('student',),
 ('sys',)]

In [51]:
res

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('schooldb',),
 ('smartcontact',),
 ('student',),
 ('sys',)]

In [52]:
for i in res:
    print(i)

('information_schema',)
('mysql',)
('org',)
('performance_schema',)
('schooldb',)
('smartcontact',)
('student',)
('sys',)

In [56]:
conn = connection.connect(host="localhost", database="student", user="root", passwd="aditya",use_pure=True)

In [57]:
cur = conn.cursor()

In [59]:
query = "CREATE TABLE studentdetails(studentId INT(10) auto_increment primary key,firstName varchar(50),lastName varchar(60),RegistrationDate date,class varchar(20),section varchar(10))"

In [60]:
cur.execute(query)

In [61]:
conn.is_connected()

True

In [62]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",database="student", user="root", passwd="aditya",use_pure=True)
    query = "insert into studentdetails values(1, 'aditya', 'singh', '2023-09-23', 'MCA', 'A')"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("data inserted into student table")
    mydb.commit()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

data inserted into student table

In [65]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",database="student", user="root", passwd="aditya",use_pure=True)
    query = "select * from studentdetails"
    cursor = mydb.cursor()
    cursor.execute(query)
    res = cursor.fetchall()
    for i in res:
        print(i)
    mydb.commit()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

(1, 'aditya', 'singh', datetime.date(2023, 9, 23), 'MCA', 'A')

In [87]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="localhost",database="student", user="root", passwd="aditya",use_pure=True)
    query = "select * from studentdetails"
    cursor = mydb.cursor()
    #cursor.execute(query)
    #res = cursor.fetchall()
    #for i in res:
     #   print(i)
    
    result_dataFrame = pd.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.commit()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

   studentId firstName lastName RegistrationDate class section
0          1    aditya    singh       2023-09-23   MCA       A

C:\Users\adity\AppData\Local\Temp\ipykernel_8200\3267992177.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query,mydb)

In [88]:
mydb = connection.connect(host="localhost",database="student", user="root", passwd="aditya",use_pure=True)
a = pd.read_sql("select firstName, lastName from studentdetails",mydb)

C:\Users\adity\AppData\Local\Temp\ipykernel_8200\2430363543.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a = pd.read_sql("select firstName, lastName from studentdetails",mydb)

In [89]:
a

  firstName lastName
0    aditya    singh

In [90]:
a.to_csv("mydata.csv")

In [92]:
mydb = connection.connect(host="localhost",database="student", user="root", passwd="aditya",use_pure=True)
mydb

In [93]:
cur = mydb.cursor()
query = "create table mydata(n1 varchar(60), n2 varchar(60))"
cur.execute(query)

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [94]:
a.to_sql('mydata',mydb)

C:\Users\adity\AppData\Local\Temp\ipykernel_8200\3141297180.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a.to_sql('mydata',mydb)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement