# Collections

## List

In [9]:
l1 = [12,32,47,78]
print(l1)
print("The data type of l1 is :",type(l1))
l2 = ["aditya",45.9,7,[10,30]]
print (l2)
student = []
print(student)
student = ["sohan","ramesh","sohel","raghav"]
print(student)
s = "Hello World"
l3 = list(s)
print(s)
print(l3)
print("the length of l1,l2,l3,student :",len(l1),len(l2),len(l3),len(student))

[12, 32, 47, 78]
The data type of l1 is : <class 'list'>
['aditya', 45.9, 7, [10, 30]]
[]
['sohan', 'ramesh', 'sohel', 'raghav']
Hello World
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
the length of l1,l2,l3,student : 4 4 11 4

In [11]:
print(l1[0])
print(l3[8])

12
r

In [12]:
for i in l1:
    print(i)

12
32
47
78

In [13]:
for i in l3:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [17]:
print(l2[1:3])

[45.9, 7]

In [18]:
print(student[:])

['sohan', 'ramesh', 'sohel', 'raghav']

In [25]:
# modification in list
t = ['a','b','c','d','e','f']
print("t :",t)
t[5] = 'z'
print("t :",t)
t[1:3] = ['x','y']
print("t :",t)

t : ['a', 'b', 'c', 'd', 'e', 'f']
t : ['a', 'b', 'c', 'd', 'e', 'z']
t : ['a', 'x', 'y', 'd', 'e', 'z']

In [4]:
t1 = [1,'a',7.9]
print(t1)
t1.clear()
print(t1)

[1, 'a', 7.9]
[]

In [6]:
t2 = ['aditya','ramesh',34,8.9]
t1 = t2.copy()
print (t2)

['aditya', 'ramesh', 34, 8.9]

In [7]:
t3 = ['p',8,9.6]
print(t3)

['p', 8, 9.6]

In [10]:
t3.extend(t2)
print(t3)

['p', 8, 9.6, 'aditya', 'ramesh', 34, 8.9, 'aditya', 'ramesh', 34, 8.9, 'aditya', 'ramesh', 34, 8.9]

In [13]:
print(t3.index('aditya'))

3

In [14]:
print(t3)

['p', 8, 9.6, 'aditya', 'ramesh', 34, 8.9, 'aditya', 'ramesh', 34, 8.9, 'aditya', 'ramesh', 34, 8.9]

In [15]:
t3.reverse()
print(t3)

[8.9, 34, 'ramesh', 'aditya', 8.9, 34, 'ramesh', 'aditya', 8.9, 34, 'ramesh', 'aditya', 9.6, 8, 'p']

In [18]:
t4 = [231,43,12,8,90,567,92,3]
print (t4)
t4.sort()
print(t4)

[231, 43, 12, 8, 90, 567, 92, 3]
[3, 8, 12, 43, 90, 92, 231, 567]

In [20]:
names = ['aditya','mohan','sohan','rahul','ramesh']
print (names)
for i in names:
    print("Hello ",i)

['aditya', 'mohan', 'sohan', 'rahul', 'ramesh']
Hello  aditya
Hello  mohan
Hello  sohan
Hello  rahul
Hello  ramesh

In [22]:
name_val = input("Enter the name for searching ")
if name_val in names:
    print("The name ",name_val," is present ")
else:
    print("The name ",name_val," is not present")

Enter the name for searching  roky

The name  roky  is not present

## Tuples

In [23]:
# creating tuple
tup1 = (1,25,54,89)
print(tup1)

(1, 25, 54, 89)

In [27]:
list1 = [12,43,54,64]
print(list1)
t1 = tuple(list1)
print(t1)

[12, 43, 54, 64]
(12, 43, 54, 64)

In [29]:
print('data type of list1 and t1 ',type(list1),type(t1))

data type of list1 and t1  <class 'list'> <class 'tuple'>

In [30]:
print(tup1)

(1, 25, 54, 89)

In [33]:
print("tup[0] :",tup1[0])
print("tup[1] :",tup1[1])
print("tup[2] :",tup1[2])
print("tup[3] :",tup1[3])

print("the length of tup1 :",len(tup1))

tup[0] : 1
tup[1] : 25
tup[2] : 54
tup[3] : 89
the length of tup1 : 4

## Operations on tuple

In [41]:
#Nested tuple
tuple1 = (2,5,6,9,32,70)
tuple2 = ('aditya','sohan','sunil','rahul','mohit')
tuple3 = (3.5,tuple1,tuple2,9.5)
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple3[1][2])

(2, 5, 6, 9, 32, 70)
('aditya', 'sohan', 'sunil', 'rahul', 'mohit')
(3.5, (2, 5, 6, 9, 32, 70), ('aditya', 'sohan', 'sunil', 'rahul', 'mohit'), 9.5)
6

In [40]:
for i in tuple1:
    print(i)

if 'aditya' in tuple2:
    print("yes, it's available")
else :
    print("not available")

2
5
6
9
32
70
yes, it's available

In [42]:
# comparing of tuples
(0,1,4)<(0,3,200000)

True

## Sets

In [2]:
s1 = {1,2,3,4}
s2 = set()
l1 = ['adi','sur','moher']
s3 = set(l1)
print("s1 :",s1)
print("s2 :",s2)
print ("s3 :",s3)

s1 : {1, 2, 3, 4}
s2 : set()
s3 : {'adi', 'sur', 'moher'}

In [3]:
for i in s3:
    print(i)

adi
sur
moher

In [4]:
basket = {"orange","mango","banana","orange"}
for i in basket:
    print(i)

orange
banana
mango

In [6]:
basket.add('apricot')
basket.update(['grapes','water melon'])
#print (basket)
for i in basket:
    print(i)

orange
grapes
banana
apricot
water melon
mango

In [7]:
print("total number of element present in basket :",len(basket))

total number of element present in basket : 6

In [8]:
s1 = {1,34,90,89,36,71}
print("Max and min value in s1 :",max(s1),min(s1))

Max and min value in s1 : 90 1

In [9]:
print(basket)
basket.remove('orange')
print(basket)

{'orange', 'grapes', 'banana', 'apricot', 'water melon', 'mango'}
{'grapes', 'banana', 'apricot', 'water melon', 'mango'}

## Mathematical Operations on sets

In [10]:
# Union
# Intersection
# Difference
# Symmetric Difference
s1 = {'aditya','mohan','sohan','rahul'}
s2 = {'sumit','sunil','sohan','subham'}
print('union :',s1 | s2)
print('Intersection :',s1 & s2)
print('Difference :',s1 - s2)
print('Symmetric Difference :',s1 ^ s2)

union : {'mohan', 'sohan', 'subham', 'aditya', 'sumit', 'sunil', 'rahul'}
Intersection : {'sohan'}
Difference : {'mohan', 'rahul', 'aditya'}
Symmetric Difference : {'mohan', 'subham', 'aditya', 'sunil', 'sumit', 'rahul'}

In [11]:
# same operations using the methods
print("union :",s1.union(s2))
print("Intersection :",s1.intersection(s2))
print("Difference :",s1.difference(s2))
print("Symmetric Difference :",s1.symmetric_difference(s2))

union : {'mohan', 'sohan', 'subham', 'aditya', 'sumit', 'sunil', 'rahul'}
Intersection : {'sohan'}
Difference : {'mohan', 'rahul', 'aditya'}
Symmetric Difference : {'mohan', 'subham', 'aditya', 'sunil', 'sumit', 'rahul'}

## Dictionary

In [1]:
capitals = {"telangana":"hydrabad","bihar":"patna","madhya pradesh":"Bhopal"}
print(capitals)

{'telangana': 'hydrabad', 'bihar': 'patna', 'madhya pradesh': 'Bhopal'}

In [3]:
# create dictionary from other class
dict1 = dict(uk="london",france="paris",ireland="dublin")
print(dict1)

{'uk': 'london', 'france': 'paris', 'ireland': 'dublin'}

In [6]:
#from list of tuples
dict2 = dict([('uk','london'),('france','paris'),('ireland','dublin')])
print(dict2)

{'uk': 'london', 'france': 'paris', 'ireland': 'dublin'}

In [7]:
# from tuple of lists
dict3 = dict((['uk','london'],['france','paris'],['ireland','dublin']))
print(dict3)

{'uk': 'london', 'france': 'paris', 'ireland': 'dublin'}