# Class and Object

In [1]:
# example of class and object using Employee class
class Employee:
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print("name of employee :",self._name)
        print("age of employee :",self._age)
        print("salary of employee :",self._salary)

In [2]:
# creating object of employee class
e1 = Employee()
e1.set_data("aditya",22,20000)
e2 = Employee()
e2.set_data("Ramu kaka",67,500000)
e1.display_data()
e2.display_data()

name of employee : aditya
age of employee : 22
salary of employee : 20000
name of employee : Ramu kaka
age of employee : 67
salary of employee : 500000

In [10]:
class Employee1:
    def __init__(self,n='',a=0,s=0.0):
        self._name = n
        self._age = a
        self._salary = s
        
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print("name of employee :",self._name)
        print("age of employee :",self._age)
        print("salary of employee :",self._salary)
    def __del__(self):
        print("Deleting the object "+str(self))

In [11]:
e1 = Employee1("Aadi",22,30000)
e1.display_data()

e2 = Employee1()
e2.set_data("Rakesh",23,30000)
e2.display_data()

name of employee : Aadi
age of employee : 22
salary of employee : 30000
name of employee : Rakesh
age of employee : 23
salary of employee : 30000

In [12]:
class Employee2:
    instance_count = 0
    def __init__(self,n='',a=0,s=0.0):
        self.increase_instance_count()
        self._name = n
        self._age = a
        self._salary = s
        
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print("name of employee :",self._name)
        print("age of employee :",self._age)
        print("salary of employee :",self._salary)
        
    @classmethod
    def increase_instance_count(cls):
        cls.instance_count += 1

In [13]:
e1 = Employee2()
e2 = Employee2("Aditya",22,70333)
print("The number of object of Employee2 class :",Employee2.instance_count)

Deleting the object <__main__.Employee1 object at 0x00000259E974FE10>
Deleting the object <__main__.Employee1 object at 0x00000259E974E410>
The number of object of Employee2 class : 2

In [15]:
# vars() and dir() functions 
vars(Employee1)

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Employee1.__init__(self, n='', a=0, s=0.0)>,
              'set_data': <function __main__.Employee1.set_data(self, n, a, s)>,
              'display_data': <function __main__.Employee1.display_data(self)>,
              '__del__': <function __main__.Employee1.__del__(self)>,
              '__dict__': <attribute '__dict__' of 'Employee1' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee1' objects>,
              '__doc__': None})

In [16]:
dir(Employee2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'display_data',
 'increase_instance_count',
 'instance_count',
 'set_data']

In [28]:
# Implement operator overloading over Quantity class
class Quantity:
    def __init__(self,v=0):
        self._value = v
    def __add__(self,other):
        new_value = self._value + other._value
        return Quantity(new_value)
    def __sub__(self,other):
        new_value = self._value - other._value
        return Quantity(new_value)
    def __str__(self):
        return str(self._value)

In [29]:
q1 =  Quantity(12)
q2 =  Quantity(34)
q3 =  Quantity()

print("q1",q1 ,"and", "q2",q2)
q3 = q1 + q2
print(q3)
q4 = q2 - q1
print(q4)

q1 12 and q2 34
46
22

In [35]:
# An Example to demonstrate Containership
class Department:
    def set_department(self):
        self._id = int(input("Enter the id of department"))
        self._name = input("Enter the department name")
    def display_department(self):
        print("Department name :",self._name)
        print("Department id :",self._id)

class Employee3:
    def set_employee(self):
        self._id = int(input("Enter the id of employee :"))
        self._ename = input("Enter the employee name")
        self._dept = Department()
        self._dept.set_department()
    def display_employee(self):
        print("Employee name :",self._ename)
        print("Employee id :",self._id)
        self._dept.display_department()

In [36]:
emp = Employee3()
emp.set_employee()
print("-"*30)
emp.display_employee()

Enter the id of employee : 1
Enter the employee name aditya
Enter the id of department 2
Enter the department name cse

------------------------------
Employee name : aditya
Employee id : 1
Department name : cse
Department id : 2

In [37]:
# implementing Inheritance
class Person:
    def __init__(self,n,a):
        self._name = n
        self._age = a
    def birthday(self):
        print("Happy Birthday ! you were : ",self._age)
        self._age +=1
        print("Now your age is : ",self._age)
    def __str__(self):
        print(self._name ,"is ",self._age ,"Years old")