# Functions

## Built in functions

In [7]:
list1 = [23,45,65,90,89,36]
print("The list is : ",list1)
print("The max element in list ",max(list1))
print("The min element in list ",min(list1))
print("The length of list ",len(list1))
print("The type of list1 ",type(list1))

The list is :  [23, 45, 65, 90, 89, 36]
The max element in list  90
The min element in list  23
The length of list  6
The type of list1  <class 'list'>

In [9]:
a = 53.8
b = int(a)
c = str(b)
print(a,b,c)
print("Type of a, b, c :",type(a),type(b),type(c))

53.8 53 53
Type of a, b, c : <class 'float'> <class 'int'> <class 'str'>

In [11]:
# math functions
import math
n = int(input("Enter the number"))
print("Square root of ",n,"is ",math.sqrt(n))

Enter the number 7

Square root of  7 is  2.6457513110645907

In [17]:
# random function
import random
print("The random number between 0.0 and 1.0 ",random.random())
low = int(input("Enter the low"))
high = int(input("Enter the high"))
print(random.randint(low,high))

The random number between 0.0 and 1.0  0.12190722111445584

Enter the low 34
Enter the high 90

47

In [19]:
t1 = (2,4,5,7,456,757,98,8,9,90,67,34)
print(random.choice(t1))

98

In [1]:
# Arbitrary Positional Argument function
def greeter(*args):
    for arg in args:
        print("welcome :",arg)
greeter("aditya","rahul","mohan","sohan")

welcome : aditya
welcome : rahul
welcome : mohan
welcome : sohan

In [4]:
# Positional and keyword values
def my_function(*args, **kwargs):
    for arg in args:
        print("welcome :",arg)
    for key in kwargs.keys():
        print(key , "has value of ",kwargs[key])
my_function("Rahul","Rohit",son="Aditya",daughter="neha")

welcome : Rahul
welcome : Rohit
son has value of  Aditya
daughter has value of  neha

In [5]:
# Recursion
# Example 1 : find the factorial
def fact(num):
    if num<=1:
        return 1
    return num * fact(num-1)
print(fact(5))

120

In [10]:
# Lambda function
square = lambda i: i * i
print(square(5))

25

In [11]:
func0 = lambda : print("lambda expression with no argument")
func1 = lambda x : x
func2 = lambda x,y : x*y
func3 = lambda x,y,z : x+y+z

func0()
print(func1(4))
print(func2(4,6))
print(func3(4,5,6))

lambda expression with no argument
4
24
15

In [23]:
#higher order function

def apply(x,function):
    return function(x)
def square(num):
    return num ** 2
n = int(input("Enter the number for which you want square"))
print(apply(n,square))

Enter the number for which you want square 8

64

In [25]:

def make_checker(s):
    if s == 'even':
        return lambda n : n%2 == 0
    elif s == 'positive':
        return lambda n : n>= 0
    elif s == 'negative':
        return lambda n : n<0
f1 = make_checker('even')
f2 = make_checker('positive')
f3 = make_checker('negative')

print(f1(3))
print(f2(3))
print(f3(3))

False
True
False

In [28]:
# filter function
data = [3,5,6,9,2,7,8]
def is_even(i):
    return i % 2 == 0

even_data = list(filter(is_even,data))
print("The even numbers in the list :",even_data)

The even numbers in the list : [6, 2, 8]

In [29]:
# map() function
data = (3,4,5,7,9,2)
print ("data :",data)

d1 = list(map(lambda i : i + 1, data))
print("updated data :",d1)

data : (3, 4, 5, 7, 9, 2)
updated data : [4, 5, 6, 8, 10, 3]

In [33]:
data1 = [2,4,6,7]
data2 = [9,7,6,3]

result = list(map(lambda x,y : x + y, data1, data2))
print ("The result is : ",result)

The result is :  [11, 11, 12, 10]